.card-item{
    background-color: $clr--primary !important;
}
.btn-color-secondary{
    background-color: $clr--secondary !important;
    &:hover{
        background-color: $clr--third !important;
        transition: all .3s ease;
    }
}