.color-primary{
    color: $clr--primary;
}

.bg-color-primary{
    background-color: $clr--primary;
}

.bg-color-third{
    background-color: $clr--third;
}

.color-dark-grayish-blue{
    color: $clr--secondary;
}

.bg-color-light-grayish-blue{
    background-color: $clr--primary;
    color: $clr--white;
}

.color-white{
    color: $clr--white;
}