.pop-ups {
  z-index: 999;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0e0d0d6b;
  transition: all 1s;
}
.pop-up {
  background-color: $clr--white;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 1.5rem 0.001rem;
  transition: all 1.5s;
  min-width: 300px;
  box-shadow: $box--shadow;
  ul li{
    margin: .25rem;
  }
}
.pop-up-mobile-display {
  display: none;
}

.active-menu {
  padding: .5rem;
  background-color: $clr--primary !important;
  a {
    color: $clr--white !important;
  }
}
.non-active-menu{
  padding: .5rem;
  a{
    color: $clr--dark;
  }
  &:hover {
    a {
      color: $clr--primary !important;
    }
    background-color: $clr--third;
  }
}

.show {
  display: flex !important;
  transition: all 1s ease;
}


@include mw(1030){
  .menu-div {
    display: none;
  }
  .pop-up-mobile-display {
    display: block !important;
  }
  .main-menu-sec {
    div {
      justify-content: space-between !important;
    }
  }
}
