#productsContainer{
    height: 86vh;
    // position: fixed;
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
        // height: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: $box--shadow; 
        border-radius: 15px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $clr--third; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $clr--secondary; 
    }
}