// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// @import url("https://fonts.googleapis.com/css?family=Fira+Sans");

@font-face {
  font-family: Poppins-Regular;
  src: url("/public/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("/public/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("/public/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("/public/fonts/poppins/Poppins-SemiBold.ttf");
}
