.product-sec {
  transition: all 0.3s ease;
}
.product-card {
  border-radius: 15px;
  box-shadow: $box--shadow;
  padding: 1.5rem;
  align-items: center;
  width: 100%;
  color: $clr--dark;
  h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 600;
    font-size: clamp(1rem, calc(0.8rem + 1.2vw), 1.3rem);
  }
  p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  img {
    max-width: unset;
  }
  a {
    color: $clr--white;
    background-color: $clr--third;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  a:hover {
    background-color: $clr--primary;
    transition: all 0.3s ease;
  }
}

.category-container {
  border-radius: 15px;
  height: 86vh;
  // position: fixed;
  overflow-y: scroll;
  box-shadow: $box--shadow;
  transition: all 0.3s ease;
  margin: 0.5rem 0;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: $box--shadow;
    border-radius: 15px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $clr--third;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $clr--secondary;
  }
  ul li {
    margin: 0.5rem;
    border-radius: 15px;
    padding: 0.5rem;
  }
  li a {
    padding: 0 1rem;
    color: $clr--dark;
  }
  .active-products {
    a {
      color: $clr--white;
    }
    border-radius: 15px;
    background-color: $clr--primary;
  }
  .non-active-products:hover {
    a {
      color: $clr--gray;
    }
    background-color: $clr--forth;
    transition: all 0.3s ease;
  }
}

@media (max-width: 400px) {
  .category-container {
    a {
      padding: 0 !important;
    }
  }
  .mobile-flex-column {
    flex-direction: column;
  }
}
