.icons-in-menu {
  a {
    font-size: x-large;
  }
  a:hover {
    background-color: $clr--gray;
  }
  gap: 8px;
}

.user, .card-menu{
  i{
    color: $clr--dark;
  }
}
.main-menu-sec {
  box-shadow: $box--shadow;
  margin: 0.5rem;
  .user,.card-menu{
    color: $clr--dark;
  }
}
.logo {
  display: flex;
  h1 {
    font-size: 1.5rem;
    font-family: Poppins-Bold;
  }
}

.slideshow-container {
  height: 86vh;

  /* Fading animation */
  .fade {
    transition: all 0.3s ease;
    animation: fade 3s ease;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
