.login-section {
  padding: 7em 0;
}

.heading-section {
  font-size: 28px;
  color: $clr--dark;
}



.wrap {
  width: 100%;
  overflow: hidden;
  background: $clr--white;
  border-radius: 5px;
  -webkit-box-shadow: $box--shadow;
  -moz-box-shadow: $box--shadow;
  box-shadow: $box--shadow;
}

.login-wrap {
  position: relative;
  background: $clr--white h3;
}

.form-group {
  position: relative;
  .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $clr--dark;
    font-weight: 700;
  }
  a {
    color: $clr--gray;
  }
}

.form-control {
  height: 48px;
  background: $clr--white;
  color: $clr--dark;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2) !important;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2) !important;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.2) !important;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2) !important;
  }
  &:focus,
  &:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid $clr--secondary;
  }
}

.social-media {
  position: relative;
  width: 100%;

  .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%;
  }
  .social-icon span {
    color: $clr--gray;
  }

  .social-icon:hover,
  .social-icon:focus {
    background: $clr--secondary;
  }

  .social-icon span:hover,
  .social-icon span:focus {
    color: $clr--white;
  }
}

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;

  /* Create the checkmark/indicator (hidden when not checked) */
  &::after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (prefers-reduced-motion: reduce) {
  .checkmark:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2);
}

/* Style the checkmark/indicator */
.checkbox-primary {
  color: $clr--primary;
}
.checkbox-primary input:checked ~ .checkmark:after {
  color: $clr--primary;
}

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &.btn-primary {
    background: $clr--primary !important;
    border: 1px solid $clr--primary !important;
    color: $clr--white !important;
  }
  &.bg-primary:hover {
    border: 1px solid $clr--secondary;
    background: transparent;
    color: $clr--secondary;
  }

  &.btn-primary.btn-outline-primary {
    border: 1px solid $clr--primary;
    background: transparent;
    color: $clr--primary;
  }

  &.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: $clr--secondary;
    color: $clr--white;
  }
}

.login-error-hidden {
  opacity: 0;
  display: none;
}
.login-error {
  display: block;
  opacity: 1;
  color: $clr--third;
  span.rounded-circle {
    background-color: $clr--third;
  }
}
