.box-info {
  display: flex;
  justify-content: center;
  height: 100%;
  .info-company {
    max-width: 500px;
  }
}

.after-value-off {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $clr--gray;
    bottom: 7px;
    z-index: -1;
  }
}

.max-w-input-80 {
  max-width: 80px;
}

.btn:hover {
  border-style: none !important;
}

.active-item {
  opacity: 0.55;
  border: 3px solid;
  border-color: $clr--primary;
}
.img-hover-opacity:hover {
  opacity: 0.5;
  transition: all 1s;
  box-shadow: $box--shadow;
}

.svg-hover-dark svg path:hover {
  fill: #000 !important;
  transition: all 0.5s;
}

.link-cursor {
  cursor: pointer;
}

.slide-plus {
  position: relative;
}

.slide-plus a {
  position: absolute;
  top: 50%;
  background-color: $clr--white;
  width: 30px;
  height: 30px;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  svg path:hover {
    stroke: $clr--third;
    transition: all 0.5s;
  }
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.non-active-image {
  height: 0;
  width: 0 !important;
}

@include mw(576) {
  .navbar-nav {
    display: contents !important;
  }
  .mobile-padding {
    padding: 1rem;
  }
}

@include mw(992) {
  .w-none-mobile img {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .w-none-mobile {
    overflow: hidden;
    display: none !important;
  }
}

@include mw(768) {
  .w-none-mobile {
    width: 0;
    height: 0;
    display: none;
  }

  .w-none-mobile-li {
    overflow: hidden;
    display: none !important;
  }
}
